[submodule "Work/Route_Sender/bin/Hotel"]
	path = Work/Route_Sender/bin/Hotel
	url = https://github.com/waqarz/Hotel
[submodule "Work/Route_Sender/bin/Wave"]
	path = Work/Route_Sender/bin/Wave
	url = https://github.com/waqarz/Wave
[submodule "Work/Route_Sender/bin/ToS"]
	path = Work/Route_Sender/bin/ToS
	url = https://github.com/waqarz/ToS
[submodule "Work/Route_Sender/bin/Sintel"]
	path = Work/Route_Sender/bin/Sintel
	url = https://github.com/waqarz/Sintel
