.onoffswitch {
    position: absolute; width: 80px;right: 160px;top: 18px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Off";
    padding-left: 10px;
    background-color: #EEEEEE; color: #999999;
}
.onoffswitch-inner:after {
    content: "On";
    padding-right: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
#AdSel{
    position: absolute; 
    width: 130px;
    right: 180px;
    top: 8px;
}

#settingsbtn{
    position: absolute;
    height: 19px;
    width: 19px;
    left: 170px;
    top: 8px;
}
#settingsDiv{
    display: none;
    position: absolute;
    width: 85px;
    left: 150px;
    bottom: 31px;
     height: 40px;
     background-color: #00537D;
}